
.navButton {
    padding: 4px 10px 4px 10px;
    color: rgba(240, 240, 240, .9);
    background-color: rgba(130, 100, 200, 1);
    border: 2px solid black;
    border-radius: 1px;
    cursor: pointer;
}

.navButton:hover {
    background-color: rgba(20, 80, 180, 1);
    transition: background-color .5s;
    border: 2px solid black;
    transition: border .5s;
}

.cardContainer {
    border: solid black 2px;
    background-color: rgba(10, 20, 40, 1);
    color: rgba(240, 240, 240, 1);
}

.cardContainer:hover {
    background-color: rgba(20, 40, 80, 1);
    transition: transform .5s, background-color .5s;
    transform: scale(1.01);
    color: rgba(200, 200, 200, 1);
}

.cardImg {
    box-sizing: border-box;
    border: solid black 2px;
    margin: 3px auto;
    width: 97%;
    height:auto;
}

.info {
    height: 50%;
    padding: 0;
}

@keyframes loadingColor {
    0%  {background-color: rgba(20, 80, 180, 1);}
    50% {background-color: rgba(130, 100, 200, 1);}
    100%{background-color: rgba(20, 80, 180, 1);}
}

.buttonLoading {
    background-color: rgba(20, 80, 180, 1);
    animation: loadingColor 1s infinite linear;
}