.navButton {
    padding: 4px 10px 4px 10px;
    color: rgba(240, 240, 240, .9);
    background-color: rgba(130, 100, 200, 1);
    border: 2px solid black;
    border-radius: 1px;
    cursor: pointer;
}

.navButton:hover {
    background-color: rgba(20, 80, 180, 1);
    transition: background-color .5s;
}

.cardContainer {
    border: solid black 2px;
    background-color: rgba(10, 20, 40, 1);
    color: rgba(240, 240, 240, 1);
}

.cardContainer:hover {
    background-color: rgba(20, 40, 80, 1);
    transition: background-color .5s;
    color: rgba(200, 200, 200, 1);
}

.cardImg {
    height: 25vw;
    padding: 3px;
}

.info {
    height: 50%;
    padding: 0;
}