
.movieCardButton {
    padding: 4px 10px 4px 10px;
    color: rgba(240, 240, 240, .9);
    background-color: rgba(130, 100, 200, 1);
    border: 2px solid black;
    border-radius: 10px;
    width:40%;
    font-size:.8rem;
    height:auto;
    cursor: pointer;
}

.movieCardButton:hover {
    background-color: rgba(20, 80, 180, 1);
    transition: background-color .5s;
    border: 2px solid black;
    transition: border .5s;
}

.modal-dialog {
    background-color: (20, 80, 180, 1)
}

.cardContainer {
    border: solid black 2px;
    background-color: rgba(10, 20, 40, 1);
    color: rgba(240, 240, 240, 1);
    height: 500px;
    display:flex;
    overflow:hidden;
}

.cardContainer:hover {
    background-color: rgba(20, 40, 80, 1);
    transition: background-color .5s;
    color: rgba(200, 200, 200, 1);
}

.cardImg {
    box-sizing: border-box;
    border: solid black 2px;
    margin: 3px auto;
    max-height: 100%;
    width: auto;
    max-width: 97%;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.card-footer{
    border: 1px black solid;
    background-color: rgba(255,255,255,.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 30%;
    padding: 5px;
}

.buttonRow{
    display: flex;
    justify-content: space-around;
    padding:0;
}

.info {

    display: flex;
    flex-direction: column;
    height: 80%;
    padding: 10px;
}

@keyframes loadingColor {
    0%  {background-color: rgba(20, 80, 180, 1);}
    50% {background-color: rgba(130, 100, 200, 1);}
    100%{background-color: rgba(20, 80, 180, 1);}
}

.buttonLoading {
    background-color: rgba(20, 80, 180, 1);
    animation: loadingColor 1s infinite linear;
}