.bg-transparent-light {
    background-color: rgba(240,240,240,.1);

}

.bg-transparent-light a{
    color: rgba(130, 100, 200, 1);
}

.bg-transparent-light a:hover{
    color: rgba(230,230,230,.8);
}